.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-overlay:not(.hidden) {
    opacity: 1;
    pointer-events: all;
}

/* === Caixa do modal === */
.modal-box {
    font-family: "Inter", sans-serif;
    background: #ffffff;
    color: #0A1D56;
    padding: 32px;
    border-radius: 10px;
    width: 100%;
    max-width: 460px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* === Título === */
.modal-title {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #1A1A2E;
}

.modal-title span {
    font-weight: 700;
}


/* === Formulário de botões === */
.modal-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  
  .sim-btn button,
  .nao-btn button {
    border-radius: 8px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
  
  .sim-btn button {
    background-color: #0A1D56;
    color: #ffffff;
  }
  
  .nao-btn button {
    background-color: #A8B2C5;
    color: #ffffff;
  }

  